{{ 'section-our-activities.css' | asset_url | stylesheet_tag }}

<section class="evenements" id="evenements">
  {% for block in section.blocks %}
    <a href="{{block.settings.link}}">
      <img
        src="{{block.settings.image | image_url }}"
        alt="{{ block.settings.title }}"
        height=""
        width=""
      >
      <h2>{{ block.settings.title }}</h2>
    </a>
  {% endfor %}
</section>

{% schema %}
{
  "name": "Our activities",
  "blocks": [
    {
      "type": "activity",
      "name": "activity",
      "settings": [
        { "type": "image_picker", "id": "image", "label": "Image" },
        { "type": "text", "id": "title", "label": "Title" },
        { "type": "url", "id": "link", "label": "Link" }
      ]
    }
  ],
  "presets": [{ "name": "Our activities" }]
}
{% endschema %}
