{{ 'services.css' | asset_url | stylesheet_tag }}

<section class="services" id="services">
  {% for block in section.blocks %}
    <div>
      <img src="{{ block.settings.image | image_url }}" alt="{{ block.settings.title }}" height="" width="">
      <h2>{{ block.settings.title }}</h2>
      <p>
        {{ block.settings.description }}
      </p>
    </div>
  {% endfor %}
</section>

{% schema %}
{
  "name": "Services",
  "blocks": [
    {
      "type": "services",
      "name": "Services",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Services",
      "category": "Services"
    }
  ]
}
{% endschema %}
