{{ 'sticky-button.css' | asset_url | stylesheet_tag }}

<section class="sticky-button">
  <div class="sticky-product">
    <img src="{{ product.featured_image.src | image_url }}" alt="{{ product.title }}" height="" width="">
    <h2>{{ product.title }}</h2>
  </div>
  <form action="/cart/add" method="post" id="stickyaddToCartForm">
    <input type="hidden" name="id" value="{{ product.variants.first.id }}">
    <button type="submit" id="stickyProductSubmitButton-{{ section_id }}">
      {{ section.settings['sticky-button-label'] }} -
      {{ product.price | money | remove: ',00' }}
    </button>
  </form>
</section>

{% schema %}
{
  "name": "Sticky button",
  "settings": [
    {
      "type": "text",
      "id": "sticky-button-label",
      "label": "Button label",
      "default": "Ajouter au panier"
    }
  ],
  "presets": [
    {
      "name": "Sticky button"
    }
  ]
}
{% endschema %}
